@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&display=swap');

@media (max-width: px) and () {
    
}
.img-pos {
    position: relative;
    left: 600px;
    bottom: 40px;
    height: 87vh;
}
.display-pos {
    position: relative;
    bottom: 550px;
    left: 60px;
    font-family: 'Source Sans Pro', sans-serif;
    width: 50%;
}
.intro {
    font-size: 30px;
    font-weight: 1000;

}
.hello {
    font-size: 35px;
    font-weight: bolder;
    color: #ffffff;
}
.txt-rotate {
    color: #dddddd;
    font-family: 'M PLUS 1 Code', sans-serif;
}
.heading {
    font-size: 70px;
    font-weight: bolder;
    position: relative;
    top: 12px;
    left: 0px;
    color: #ffffff;
}
.bg {
margin-top: 30px;
background: rgb(33,37,41);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.1px);
-webkit-backdrop-filter: blur(5.1px);
border: 1px solid rgba(255, 255, 255, 0.61);
height: 80vh;
width: 85vw !important; 
}
.lead {
    font-family: 'Poppin', sans-serif;
    color: #3d7e77;
}
.btn-style {
    position: relative;
    left: 0px;
    top: 30px;
    width: 180px;
}
.contain {
    position: relative;
    bottom: 300px;
}
.container > .row > .col >.text-success {
    color: #000000 !important;
}